@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sal-duration: 0.5s;
}

body {
    font-family: 'Montserrat', sans-serif !important;
}

/* sponsor carousel */
.sponsor .splide__slide img {
    transition: all 400ms;
    transform: scale(0.6);
    filter: grayscale(100%);
}

.sponsor .splide__slide.is-active img {
    transform: scale(1);
    filter: grayscale(0%);
}

.partner .splide__slide img {
    transition: all 10ms;
    transform: scale(0.5);
    filter: grayscale(0%);
}

.splide__track::before {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(
        to right,
        rgb(255, 255, 255),
        rgba(255, 255, 255, 0)
    );
    pointer-events: none;
}
.splide__track::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(
        to left,
        rgb(255, 255, 255),
        rgba(255, 255, 255, 0)
    );
    pointer-events: none;
}

/* lomba card */
.card-back {
    transform: rotateY(-180deg);
    transition: all 1s;
}

.card-back-sub {
    transform: rotateY(180deg);
}

.card-front,
.card-front-sub {
    transition: all 1s;
}

.card-flip:hover .card-back {
    transform: rotateY(0deg);
    opacity: 1;
}

.card-flip:hover .card-front {
    transform: translateY(-50%);
    opacity: 0;
}

.card-flip:hover .card-front-sub {
    transform: rotateY(180deg);
}

.card-body {
    transition: all 1s;
}

.card-flip:hover .card-body {
    transform: rotateY(180deg);
}

.xs-appear {
    display: none;
}

.text-wdc {
    font-size: 1.5rem;
    line-height: 2rem;
}

/* responsive card untuk mobile mini */
@media (max-width: 424px) {
    .card-body {
        width: 280px;
    }
    .card-text {
        width: 280px;
    }
    .xs-appear {
        display: inline;
    }
    .xs-hidden {
        display: none;
    }
    .text-wdc {
        font-size: 1.4rem;
        line-height: 2rem;
    }
}

/* button slides animation with pseuodo element ::before */
.btn-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 0%;
    height: 100%;
    transform: skew(50deg);
    background: #0f6e80;
    transition: all 1s;
    z-index: 1;
}
.btn-slide:hover::before {
    width: 200%;
}

/* btn slide warna merah */
.btn-slide2::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 0%;
    height: 100%;
    transform: skew(50deg);
    background: rgb(200, 30, 30);
    transition: all 1s;
    z-index: 1;
}
.btn-slide2:hover::before {
    width: 200%;
}

/* border bawah */
.btn-border::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: #50bfd0;
    transition: all 0.5s;
    z-index: 1;
}

.btn-border-wrapper:hover .btn-border::after {
    width: 100%;
}

/* border kanan */
.btn-border::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2px;
    height: 0;
    background: #50bfd0;
    transition: all 0.5s;
    z-index: 1;
    transition-delay: 0.5s;
}

.btn-border-wrapper:hover .btn-border::before {
    height: 100%;
}

/* border atas */
.span-border::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background: #50bfd0;
    transition: all 0.5s;
    z-index: 1;
}

.btn-border-wrapper:hover .span-border::after {
    width: 100%;
}

.btn-border-wrapper:hover a {
    animation: border-animation 0.9s forwards step-end;
}

@keyframes border-animation {
    100% {
        border-color: rgba(255, 255, 255, 0);
        outline-color: rgba(255, 255, 255, 0);
    }
}

/* border kiri */
.span-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background: #50bfd0;
    transition: all 0.5s;
    z-index: 1;
    transition-delay: 0.5s;
}

.btn-border-wrapper:hover .span-border::before {
    height: 100%;
}

.btn-border-wrapper:hover a {
    transition: all 0.5s;
    transition-delay: 1s;
}

.btn-border-wrapper:hover a {
    box-shadow: 0 0 20px rgba(80, 191, 208, 0.8);
}

/* text */
.btn-border-wrapper:hover span {
    color: #0f6e80;
}

/*  */
.ivy {
    width: 20%;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(400%, -50%);
    animation: ivyTerbangMendarat 30s infinite ease-in-out;
}
html {
    scroll-behavior: smooth;
}

/* create carousel with keyframes */
@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

@-webkit-keyframes scrollReverse {
    0% {
        transform: translateX(calc(-250px * 7));
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes scrollReverse {
    0% {
        transform: translateX(calc(-250px * 7));
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes ivyTerbangMendarat {
    0% {
        transform: translate(0%, -50%);
    }

    30% {
        transform: translate(0%, -50%);
    }

    35% {
        transform: translate(0%, -250%);
    }

    40% {
        transform: translate(400%, -250%);
    }

    50% {
        transform: translate(400%, -50%);
    }

    80% {
        transform: translate(400%, -50%);
    }

    85% {
        transform: translate(400%, -250%);
    }

    90% {
        transform: translate(0%, -250%);
    }

    100% {
        transform: translate(0%, -50%);
    }
}
