/*
!.gitignore
!/guidebook

/identitas/**/*
!/identitas/ctf/
!/identitas/ctf/.gitkeep
!/identitas/dc/
!/identitas/dc/.gitkeep
!/identitas/wdc/
!/identitas/wdc/.gitkeep
!/identitas

/Project/wdc/*
!/Project/
!/Project/wdc/
!/Project/wdc/.gitkeep

/transfer/*
!/transfer/
!/transfer/.gitkeep
